* {
    border: 0px solid red;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    height: 65vh;
    width: 65vh;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    border: 1px solid red;
}

#blocks {
    margin-top: 0px;
    margin-bottom: 0px;
    outline: 0px solid red;
}