* {
    border: 1px solid red;
}

.sketchpad {
    display: flex;
    height: 50vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.pix {
    width: 30%;
    margin-top: 0px;
    margin-bottom: 0px;
    flex-grow: 1;
    border: 5px solid black;
}